/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-30 {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}


.text-box {
  border:none;
  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: none;
}

.error-font-size {
  font-size: 10px;
}

.hover-pointer {
  cursor: pointer;
}
